@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-lg-5">Сортировка списка</h1>
    <div class="container d-flex justify-content-between">
        <div class="container w-25 border" id="in">
            <ul class="list-unstyled">
                <li>Книга</li>
                <li>Зуб</li>
                <li>Глаз</li>
                <li>Нос</li>
                <li>Рот</li>
            </ul>
        </div>
        <div class="container w-25 border" id="out">
            <ul class="list-unstyled">
                <li>Рот</li>
                <li>Нос</li>
                <li>Глаз</li>
                <li>Зуб</li>
                <li>Книга</li>
            </ul>
        </div>
        <div class="d-flex flex-wrap w-25">
            <input type="file" class="w-100" id="txt-inp">
            <div class="w-100">
                <label for="select-id">Тип сортировки</label>
                <select id="select-id">
                    <option value="1">По возрастанию</option>
                    <option value="2">По убыванию</option>
                    <option value="3">В обратном порядке</option>
                </select>
            </div>
            <button class="btn-primary w-100">Отсортировать</button>
        </div>
    </div>
</div>
